<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Question</title>

</head>

<form action="" method="post">
<table border="0" align="center">
<body>

<tr>
<td><label for=" "><h2>List = ['6', '66', ['hii', ['why', 5, 55], ['try', '88']], [['666', 'cat', 'dog'], 'how', ['final', '666', '0']]] <h2></label></td>
</tr>
<tr>
<td><label for=" "><h3>Questions based on given list: <h3></label></td>
</tr>
<tr>
 <td><label for="first"> Id= </label></td>
<td><input id="id" maxlength="4" name="id" type="text" /></td>
</tr>
<tr>
<td><label for="first"> Check the value on this indexation [2][1][2] = </label></td>
<td><input id="first" maxlength="10" name="first" type="text" /></td>
</tr>

<tr>
<td><label for="second">Check the value on this indexation [2][2][1] = </label></td>
<td><input id="second" maxlength="10" name="second" type="text" /></td>
</tr>

<tr>
<td><label for="third">Check the value on this indexation [3][0][2] =: </label></td>
<td><input id="third" maxlength="10" name="third" type="text" /></td>
</tr>

<tr>
<td><button onclick="myFunction()"> submit </button></td>
</tr>
<script>
function myFunction() {
  alert("Thanks for playing game. Correct answer is 55, 88, and dog");
}
</script>

</body>
</html>